html {
  overflow: auto;
}

body {
  font-size: 1em;
  /* font-family: "ZCOOL QingKe HuangYou", cursive; */
  /* font-family: "Indie Flower", cursive; */
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  position: relative;
  min-height: 84vh;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  max-width: 100vw;
  min-height: 21vh;
  position: relative;
  text-align: center;
  background-color: #333333;
  background-image: url("https://i.imgur.com/xy8Uwg5.png");
}

footer {
  top: 0vh;
  max-width: 100vw;
  /* min-height: 3.2vh; */
  /* min-height: 100%; */
  position: relative;
  display: flex;
  left: 0;
  bottom: 0;
  justify-content: center;
  font-size: 1.2em;
  border-top: solid white;
  color: white;
  background-color: #333333;
  background-image: url("https://i.imgur.com/xy8Uwg5.png");
}

/* Container <h1> <h2> */

.container h1 {
  color: white;
  font-size: 1.9em;
  position: relative;
  justify-content: center;
  text-align: center;
  top: 0vh;
}

.container h2 {
  color: white;
  font-size: 1.1em;
  position: relative;
  text-align: center;
  font-style: italic;
}

/* Container Avatar  */

#avatar_img {
  border-radius: 50%;
  max-width: 180px;
}

#avatar {
  min-width: 180px;
  position: relative;
  top: 0.7vh;
  padding: 0;
}

/* Container navigation */

.container {
  max-width: 100vw;
}

nav {
  min-width: 100vw;
  min-height: 6vh;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  position: relative;
  border-top: solid white;
  border-bottom: solid white;
  background-color: #333333;
  background-image: url("https://i.imgur.com/xy8Uwg5.png");
}

.container ul {
  list-style-type: none;
  /* padding: 0 neccessary to ensure the links stay horizontally centrally aligned */
  padding: 0;
  /* border: solid black; */
}

.container .nav_li {
  position: relative;
  padding: 0px 3vw;
  display: inline-block;
  /* margin-left: 2%;
  margin-right: 2%; */
  /* border: solid black; */
}

.nav_li a {
  font-size: 1.6em;
  /* border: solid black; */
  word-wrap: normal;
  color: white;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: solid black; */
}

.nav_li a:hover {
  color: rgb(119, 118, 118);
}

/* Container <section>  */

.container section {
  /* min-height: 65.8vh; */
  min-height: 65vh;
  display: flex;
  justify-content: center;
  background-color: #9a3334;
  text-align: left;
  background-image: url("https://i.imgur.com/xy8Uwg5.png");
}

/* Container - About Me */

.aboutme {
  align-content: center;
  justify-content: center;
  min-height: 65vh;
  padding-right: 1vw;
  padding-left: 1vw;
}

.aboutme p {
  font-size: 1em;
  color: white;
  width: 35vw;
  display: flex;
  position: relative;
  text-align: center;
}

/* Projects container */

.projects {
  margin: auto;
  position: relative;
  /* width: 40vw; */
  width: 700px;
  padding-right: 20vw;
  padding-left: 20vw;
  min-height: 53vh;
  outline: none;
}

.projects img {
  position: absolute;
  /* width: 40vw; */
  width: 700px;
  height: 50vh;
}

/* #Siema - Carousel */

.overlay {
  color: white;
  position: relative;
  height: 50vh;
  /* width: 40vw; */
  width: 700px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #333333;
}

.siema:hover .overlay {
  opacity: 0.5;
  overflow: hidden;
}

.overlay_title {
  font-size: 1.9em;
  /* font-size: 1.5vw; */
  /* font-size: 30px; */
  position: absolute;
  opacity: 1;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay_description {
  font-size: 1.4em;
  /* font-size: 1.2vw; */
  /* font-size: 23px; */
  position: absolute;
  opacity: 1;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  width: 600px;
}

.overlay_tech {
  font-size: 1.4em;
  /* font-size: 1.2vw; */
  position: absolute;
  opacity: 1;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects button {
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
  color: white;
  background: #333333;
  border: none;
  font-size: 16px;
  height: auto;
  width: 60px;
}

/* Contact  */

.contact {
  margin: auto;
  text-align: center;
  /* border: solid #333333; */
  /* width: 35vw; */
  min-height: 53vh;
  outline: none;
  overflow: hidden;
}

.contact p {
  color: white;
  font-size: 1em;
  margin: auto;
  text-align: center;
  width: 35vw;
}

#links {
  position: relative;
  top: 5vh;
  height: auto;
  vertical-align: middle;
  margin: auto;
  /* border: solid black; */
}

#links img {
  display: inline-block;
  width: 100px;
  height: 120px;
  height: auto;
  margin: auto;
}

/* For phone devices */

@media screen and (max-width: 1250px) {
  .aboutme p {
    font-size: 1em;
    width: 80vw;
  }

  .contact p {
    font-size: 1em;
    width: 80vw;
  }
}

/* @media screen and (max-width: 390px) {
  .nav_li a {
    font-size: 1.4em;
  }
  
  footer {
    font-size: 3vw;
  }
} */

@media screen and (max-height: 900px) {
  body {
    margin: 0;
  }
}

@media screen and (max-width: 780px) {
  .projects {
    width: 70vw;
  }

  .projects img {
    width: 70vw;
    min-height: 50vh;
  }

  .overlay {
    width: 70vw;
    min-height: 50vh;
  }

  .overlay_title {
    font-size: 2.9vw;
  }

  .overlay_description {
    font-size: 2.6vw;
    width: 50vw;
  }

  .overlay_tech {
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 208px) {
  .container ul {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 240px) {
  #links {
    display: block;
    top: 0px;
  }

  #links img {
    display: block;
    width: 65px;
    height: 85px;
  }
}

/*just a test for new branch */
